  <div class="user" id="user_<%= user.id %>">
    <%= gravatar user.email, { :size => 20 } %> <%= link_to user.displayname, user_path(user) %> <% if user.location? %>(<%= user.location %>)<% end %>
  </div>