
<div class="post">
 <h2><%= link_to h(item.title), item %></h2> 
 <dl class="meta">
  <dt>Posted</dt>
  <dd><%= item.published_at.strftime("%B %d, %Y at %I:%M%p") %></dd>
  <dt>Author</dt>
  <dd class="author"><%=h item.user.displayname %></dd>
 </dl>


</div>