
<div class="post span-18 last">
  <div class="span-5">
    <%= render :partial => 'items/meta', :locals => {:item => item} %>
  </div>

  <div class="span-12 last">
   <h2><%= link_to h(item.title), item %> <%- if item.changeable_by?(current_user) -%>
      <small><%= link_to 'Edit', [:edit, item] %></small><%- end -%></h2> 
  </div>
  
</div>