<h1>Editing item</h1>

<% form_for @item do |form| %>
  <%= render :partial => '/items/form', :object => form %>
  <%= form.submit 'Update', :disable_with => 'Please wait...' %> | <%= link_to 'Cancel', item_path(@item) %>
<% end %>